<form name="create-form" [formGroup]="formGroup" novalidate class="create-form">
    <h2 mat-dialog-title>Create a task</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Name" [(ngModel)]="creatableTask.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
            Invalid task`s name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput placeholder="description" [(ngModel)]="creatableTask.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Performer</mat-label>
        <select matNativeControl formControlName="performerId" [(ngModel)]="performerId">
            <option *ngFor="let performer of performers" [value]="performer.id">
                {{performer.firstName}} {{performer.lastName}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['performerId'].invalid">
            This field is required
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="createTask()" color='primary'>Submit</button>
</div>