$header-background: rgb(0, 2, 100);
$header-height: 60px;
$navigation-section-height: 30px;
$navigation-background: rgb(190, 190, 190);
$navigation-sections-number: 3;

.menu-button,
.navigation-section {
    justify-content: center;
    align-items: center;
}

.header-block,
.navigation-block {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-block {
    height: &$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: $header-background;
    box-shadow: 0 5px 10px $header-background;

    .website-title {
        color: #fff;
        font-size: 30px;
        line-height: $header-height;
        font-weight: 500;
        letter-spacing: -1px;

        &:hover {
            text-shadow: 2px 1px 5px #fff;
        }
    }

    .menu-button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $header-background;
        display: none;
        color: #fff;
    }
}

.navigation-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 100px));
    height: $navigation-section-height;
    background-color: $navigation-background;
    padding-left: 50px;
    box-shadow: 0 5px 10px $navigation-background;
    top: $header-height;

    .navigation-section {
        display: inline-block;
        display: flex;
        color: rgb(100, 100, 100);

        &:hover {
            color: #000;
            font-weight: 600px;
            text-decoration: underline;
            box-shadow: 5px 5px 10px rgba(160, 160, 160), -5px 5px 10px rgba(160, 160, 160);
        }

        &:active {
            color: #f00;
        }
    }
}

.main-content {
    position:relative;
    padding-bottom: 30px;
}

.main-content-shift {
    top: $header-height + $navigation-section-height + 30px;
}

@media all and (max-width: 400px) {
    .header-block {
        .menu-button {
            display: flex;
        
            &:hover {
                box-shadow: 0 0 5px #fff;
            }

            &:active {
                animation: pulse 0.3s forwards;
            }
        }
    }

    .main-content {
        top: $header-height + 30px;
    }

    .main-content-shift {
        top: $header-height + $navigation-section-height * $navigation-sections-number + 30px;
    }

    .navigation-block {
        display: grid;
        padding-left: 0;
        grid-template-columns: 100%;
        grid-template-rows: 30px 30px 30px;
        height: max-content;
    }
}


@keyframes pulse {
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 #fff;
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 10px 5px #fff;
	}
}