<div class="content">
    <div class="info-block">
        <h2 *ngIf="item.finishedAt !== null" finished>{{item.name}}</h2>
        <h2 *ngIf="item.finishedAt === null">{{item.name}}</h2>
        <p>Description: {{item.description}}</p>
        <p>Created at: {{item.createdAt | dateUA }}</p>
        <p *ngIf="item.finishedAt !== null">Finished at: {{item.finishedAt | dateUA }}</p>
        <p>Performer id: {{item.performerId}}</p>
        <p>Project id: {{item.projectId}}</p>
    </div>
    <div class="controll-buttons">
        <button mat-raised-button color="accent" class="update-button" (click)="goToUpdateDialog()">
            Update
        </button>
        <button mat-raised-button color="warn" class="delete-button" (click)="deleteItem()">
            Delete
        </button>
    </div>
</div>
