<form name="create-form" [formGroup]="formGroup" novaidate class="create-form">
    <h2 mat-dialog-title>Create an user</h2>
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" formControlName="firstName" matInput placeholder="First name" [(ngModel)]="creatableUser.firstName">
        <mat-error *ngIf="formGroup.controls['firstName'].invalid">
            Invalid user`s first name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" formControlName="lastName" matInput placeholder="Last name" [(ngModel)]="creatableUser.lastName">
        <mat-error *ngIf="formGroup.controls['lastName'].invalid">
            Invalid user`s last name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Email" [(ngModel)]="creatableUser.email">
        <mat-error *ngIf="formGroup.controls['email'].invalid">
            Invalid user`s email
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input [matDatepicker]="picker" [disabled]="true" formControlName="birthDate" placeholder="Birth date" matInput [(ngModel)]="creatableUser.birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker [disabled]="false" #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <select matNativeControl placeholder="Team" formControlName="teamId" [(ngModel)]="creatableUser.teamId">
            <option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['teamId'].invalid">
            This is required field
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="createUser()" color='primary'>Submit</button>
</div>