<div class="item-list">
    <div class="create-button-section">
        <button mat-raised-button color='primary' (click)="goToCreateMenu()">
            Create
        </button>
    </div>
    <div class="item" *ngFor="let task of itemsList">
        <app-task [item]="task"  (onDeleteItem)="deleteItem($event)"></app-task>
    </div>
</div>