<form name="update-form" [formGroup]="formGroup" novalidate class="update-form">
    <h2>Update the team</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Name" [(ngModel)]="updatableTeam.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
            Invalid team`s name
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="updateTeam()" color='primary'>Submit</button>
</div>