<div class="item-list">
    <div class="create-button-section">
        <button mat-raised-button color='primary' (click)="goToCreateMenu()">
            Create
        </button>
    </div>
    <div class="item" *ngFor="let project of itemsList">
        <app-project [item]="project" (onDeleteItem)="deleteItem($event)"></app-project>
    </div>
</div>