<form name="create-form" [formGroup]="formGroup" novalidate class="create-form">
    <h2 mat-dialog-title>Create a team</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Name" [(ngModel)]="creatableTeam.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
            Invalid team`s name
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button mat-raised-button [disabled]="formGroup.invalid" (click)="createTeam()" color='primary'>Submit</button>
</div>