<div class="item-list">
    <div class="create-button-section">
        <button mat-raised-button color='primary' (click)="goToCreateMenu()">
            Create
        </button>
    </div>
    <div class="item" *ngFor="let team of itemsList">
        <app-team [item]="team" (onDeleteItem)="deleteItem($event)"></app-team>
    </div>
</div>