<div class="content">
    <div class="info-block">
        <h2>{{item.name}}</h2>
        <p>Description: {{item.description}}</p>
        <p>Deadline: {{item.deadline | dateUA}}</p>
        <p>Created at: {{item.createdAt | dateUA}}</p>
        <p>Author id: {{item.authorId}}</p>
        <p>Team id: {{item.teamId}}</p>
    </div>
    <div class="controll-buttons">
        <button mat-raised-button color="primary" class="tasks-list-button" (click)="goToTasksList()">
            Show tasks
        </button>
        <button mat-raised-button color="accent" class="update-button" (click)="goToUpdateDialog()">
            Update
        </button>
        <button mat-raised-button color="warn" class="delete-button" (click)="deleteItem()">
            Delete
        </button>
    </div>
</div>
