.create-form,
.update-form {
    width: 50%;
    margin: 0px auto;

    .mat-form-field {
        width: 100%;
    }
}

.form-actions {
    display: flex;
    justify-content: center;

    .mat-raised-button {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
}

@media all and (max-width: 400px) {
    .create-form,
    .update-form {
        width: 95%;
    }
}