.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    button {
        width: 100%;
        padding: 10px;
    }

    .controll-buttons {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .mat-raised-button {
            height: 30px !important;
            align-items: center;
            align-content: center;
            display: flex;
        }
    }
}

@media all and (max-width: 640px) {
    .content {
        flex-direction: column;
        align-self: start;

        .controll-buttons {
            margin-top: 20px;
            height: max-content;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            button {
                width: 30%;
            }
        }
    }
}