<div class="item-list">
    <div class="create-button-section">
        <button mat-raised-button color='primary' (click)="goToCreateMenu()">
            Create
        </button>
    </div>
    <div class="item" *ngFor="let user of itemsList">
        <app-user [item]="user" (onDeleteItem)="deleteItem($event)"></app-user>
    </div>
</div>