<form name="update-form" [formGroup]="formGroup" novalidate class="update-form">
    <h2>Update the project</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Name" [(ngModel)]="updatableProject.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
            Invalid project`s name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput placeholder="Description" [(ngModel)]="updatableProject.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input [disabled]="true" [matDatepicker]="picker" formControlName="deadline" matInput [(ngModel)]="updatableProject.deadline">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker [disabled]="false" #picker></mat-datepicker>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="updateProject()" color='primary'>Submit</button>
</div>