<div class="content">
    <div class="info-block">
        <h2>{{item.name}}</h2>
        <p>Created at: {{item.createdAt | dateUA}}</p>
    </div>
    <div class="controll-buttons">
        <button mat-raised-button color="accent" class="update-button" (click)="goToUpdateDialog()">
            Update
        </button>
        <button mat-raised-button color="warn" class="delete-button" (click)="deleteItem()">
            Delete
        </button>
    </div>
</div>