<form [formGroup]="formGroup" novalidate class="create-form">
    <h2>Create a project</h2>
    <mat-form-field appearance='legacy'>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput [(ngModel)]="creatableProject.name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">Invalid project`s name</mat-error>
    </mat-form-field>
    <mat-form-field appearance='legacy'>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput [(ngModel)]="creatableProject.description">
    </mat-form-field>
    <mat-form-field appearance='legacy'>
        <mat-label>Deadline</mat-label>
        <input [matDatepicker]='picker' [disabled]="true" formControlName="deadline" matInput [(ngModel)]="creatableProject.deadline">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker [disabled]="false" #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance='legacy'>
        <mat-label>Author</mat-label>
        <select matNativeControl formControlName="authorId" [(ngModel)]="authorId">
            <option *ngFor="let user of allowedUsers" [value]="user.id">
                {{user.firstName}} {{user.lastName}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['authorId'].invalid">
            This field is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance='legacy'>
        <mat-label>Team</mat-label>
        <select matNativeControl formControlName="teamId" [(ngModel)]="teamId">
            <option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['teamId'].invalid">
            This field is required
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="createProject()" color='primary'>Submit</button>
</div>