<form name="update-form" [formGroup]="formGroup" class="update-form">
    <h2>Update the user</h2>
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" formControlName="firstName" matInput placeholder="First name" [(ngModel)]="updatableUser.firstName">
        <mat-error *ngIf="formGroup.controls['firstName'].invalid">
            Invalid user`s first name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" formControlName="lastName" matInput placeholder="Last name" [(ngModel)]="updatableUser.lastName">
        <mat-error *ngIf="formGroup.controls['lastName'].invalid">
            Invalid user`s last name
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Email" [(ngModel)]="updatableUser.email">
        <mat-error *ngIf="formGroup.controls['email'].invalid">
            Invalid user`s email
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input [disabled]="true" [matDatepicker]="picker" formControlName="birthDate" matInput placeholder="Birth date" [(ngModel)]="updatableUser.birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker [disabled]="false" #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <select matNativeControl formControlName="teamId" placeholder="Team id" [(ngModel)]="updatableUser.teamId">
            <option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
            </option>
        </select>
        <mat-error *ngIf="formGroup.controls['teamId'].invalid">
            This is required section
        </mat-error>
    </mat-form-field>
</form>
<div class="form-actions">
    <button mat-raised-button (click)="backToMainList()">Back</button>
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="updateTeam()" color='primary'>Submit</button>
</div>